name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        run: echo "${{ secrets.prachiiydv@123 }}" | docker login -u "${{ secrets.prachiiy258 }}" --password-stdin

      - name: Build Backend Image
        run: docker build -t prachiiy258/backend:v1 ./backend

      - name: Push Backend Image
        run: docker push prachiiy258/backend:v1

      - name: Build Frontend Image
        run: docker build -t prachiiy258/frontend:v1 ./frontend

      - name: Push Frontend Image
        run: docker push prachiiy258/frontend:v1
